

body{ 
    padding-top: 20px;
}
header{
    display: flex;
    flex-flow : row nowrap;
   justify-content: space-between;
   padding: 33px 78px;
}
 img{
    width: 40px;
    
 }
nav {
   display: flex;
  flex-flow: row nowrap;
}
nav a{
    margin-right: 50px;
    color: #636060;
    font-weight: 400;
    font-family: Helvetica;
    font-size: 17px;
}
.sec1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 31px;
    width: 100%;
     height: 700px;
    background-image: url(images/whitebuildings.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sec1-p{
   font-family: Helvetica;
   font-weight: 700;
   font-size: 79px;
   color: #FFFFFF;
}
.sec1-p2{
    font-family: Helvetica;
    font-weight: 400;
    font-size: 19px;
   color: #FFFFFF;
}